{% extends "base.html" %}

{% block content %}
<main  class="main main--about">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sequi optio dicta ea harum earum exercitationem dolorum quam adipisci quibusdam et aspernatur vitae debitis quos esse sunt, rem fugiat ipsam.
        Enim, cum mollitia! Ullam, consectetur. Ut, tempora, perferendis magni quisquam recusandae, dolorem dolore ad praesentium fugiat fugit nemo cupiditate voluptates laudantium assumenda esse rem nam reiciendis quidem quis unde numquam.
        Quis esse culpa obcaecati, sapiente aspernatur omnis quae asperiores sint in laborum sequi soluta, ipsum excepturi, error similique at totam et quo. Temporibus possimus quibusdam ea, odio sit cupiditate inventore?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sequi optio dicta ea harum earum exercitationem dolorum quam adipisci quibusdam et aspernatur vitae debitis quos esse sunt, rem fugiat ipsam.
        Enim, cum mollitia! Ullam, consectetur. Ut, tempora, perferendis magni quisquam recusandae, dolorem dolore ad praesentium fugiat fugit nemo cupiditate voluptates laudantium assumenda esse rem nam reiciendis quidem quis unde numquam.
        Quis esse culpa obcaecati, sapiente aspernatur omnis quae asperiores sint in laborum sequi soluta, ipsum excepturi, error similique at totam et quo. Temporibus possimus quibusdam ea, odio sit cupiditate inventore?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sequi optio dicta ea harum earum exercitationem dolorum quam adipisci quibusdam et aspernatur vitae debitis quos esse sunt, rem fugiat ipsam.
        Enim, cum mollitia! Ullam, consectetur. Ut, tempora, perferendis magni quisquam recusandae, dolorem dolore ad praesentium fugiat fugit nemo cupiditate voluptates laudantium assumenda esse rem nam reiciendis quidem quis unde numquam.
        Quis esse culpa obcaecati, sapiente aspernatur omnis quae asperiores sint in laborum sequi soluta, ipsum excepturi, error similique at totam et quo. Temporibus possimus quibusdam ea, odio sit cupiditate inventore?
    </p>
</main>
{% endblock %}