<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/home">
                            <img src="/static/images/pie-chart.png" class="logo" alt="logo">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/tableview">
                            <img src="/static/images/table.png" class="logo"
                                alt="logo">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" href="/upload">
                            <img src="/static/images/upload.png" class="logo" alt="logo">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>